/* Carga y declaración de fuentes */
@font-face {
    font-family: 'gothic_font';
    src: url('/public/fonts/GermaniaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Mejora el rendimiento de carga visual */
}

@font-face {
    font-family: 'Montserrat';
    src: url('/public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Mejora el rendimiento de carga visual */
}

:root {
    --font-main: 'Montserrat';
}